<h1>Listing cashadvances</h1>

<table>
  <thead>
    <tr>
      <th>Date from</th>
      <th>Date to</th>
      <th>Client</th>
      <th>Branch</th>
      <th>Bus unit</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cashadvances.each do |cashadvance| %>
      <tr>
        <td><%= cashadvance.date_from %></td>
        <td><%= cashadvance.date_to %></td>
        <td><%= cashadvance.client %></td>
        <td><%= cashadvance.branch %></td>
        <td><%= cashadvance.bus_unit %></td>
        <td><%= cashadvance.status %></td>
        <td><%= link_to 'Show', cashadvance %></td>
        <td><%= link_to 'Edit', edit_cashadvance_path(cashadvance) %></td>
        <td><%= link_to 'Destroy', cashadvance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cashadvance', new_cashadvance_path %>
