<h1>Listing All Cash Advances</h1>

<table>
  <thead>
    <tr>
      <th>Date From</th>
      <th>Date To</th>
      <th>Client</th>
      <th>Branch</th>
      <th>Business Unit</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cashadvances.each do |cashadvance| %>
      <tr>
        <td><%= cashadvance.date_from %></td>
        <td><%= cashadvance.date_to %></td>
        <td><%= cashadvance.client %></td>
        <td><%= cashadvance.branch %></td>
        <td><%= cashadvance.bus_unit %></td>
        <td><%= cashadvance.status %></td>
        <td><%= link_to 'Show', cashadvance %></td>
		<% if cashadvance.status == "Pending" %>
			<td><%= link_to 'Edit', edit_cashadvance_path(cashadvance) %></td>
			<td><%= link_to 'Cancel', cashadvance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% end %>
	</tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Request a New Cash Advance', new_cashadvance_path %>
