<p id="notice"><%= notice %></p>

<p>
  <strong>Date From     : </strong>
  <%= @cashadvance.date_from %>
</p>

<p>
  <strong>Date To       : </strong>
  <%= @cashadvance.date_to %>
</p>

<p>
  <strong>Client        : </strong>
  <%= @cashadvance.client %>
</p>

<p>
  <strong>Branch        : </strong>
  <%= @cashadvance.branch %>
</p>

<p>
  <strong>Business Unit : </strong>
  <%= @cashadvance.bus_unit %>
</p>

<p>
  <strong>Status        : </strong>
  <%= 'Pending' %>
</p>

<%= link_to 'Edit', edit_cashadvance_path(@cashadvance) %> |
<%= link_to 'Back', cashadvances_path %>
